.container_pizza_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_item{
    width: 225px;
    min-height: 460px;
    background-color: black;
    margin: 0 10px 15px 5px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover{
    transform: scale(1.02); 
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
    .card_imgs{
        width: 225px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            display: block;
            height: 70px;
            background-image: linear-gradient(180deg, #09060900 0%, #070708 100%);
            pointer-events: none;
        }
        .favorite_card{
            position: absolute;
            right: 7px;
            top:5px;
            .favorite_card-color.active {
                fill: red;
            }
            
            .favorite_card-color {
                fill: white;
            }
        }
        .img_card{
            border-radius: 10px
        }
       
    }
    .cart_content{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    .card_name{
        padding-top: 10px;
      height: 35px;
    }
    .card_price{
padding-top: 17px;
padding-bottom: 4px;
font-size: 22px;
    }
    .card_ingredient{
        min-height: 96px;
        .inredient_item{
            color: #a4a8ad;
            font-size: 13px;
        }
    }
    .card_button{
   border-radius: 10px;
    }
}


.home_img{
    border-radius: 10px;
}
.home_title{
    font-weight: 600;
    font-size: 34px;
    padding-top: 20px;
    padding-bottom: 15px;
}
