.header {
    background-color: black;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 50px;
    .header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .header_menu {
        display: flex;
        height: 100%;
        min-width: 290px;
        align-items: center;
        padding:  0 20px;
        transition: background-color 0.5s ease; 
        position: relative;
        &:hover {
            background-color:#25252E;
        }
        
        .menu_text{
            margin-left: 20px;
        }
        .menu_burger{
            .burger_top{
                display: block;
                height: 2px;
                background: #eef2f5;
                width: 17px;
                margin-bottom: 4px;
            }
            .burger_middle{
                display: block;
                height: 2px;
                background: #eef2f5;
                width: 10px;
                margin-bottom: 4px;
               transition: width 0.3s ease; 
            }
           
            .burger_bottom{
                display: block;
                height: 2px;
                background: #eef2f5;
                width: 5px;
                transition: width 0.3s ease;
            }
    
            
        }
        .menu_DropDaun{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 50px;
            transition: opacity 0.5s ease;
            .dropDaun_nav{
                background-color: white;
                min-width: 290px;
                .nav_menu{
                height: 50px;
               line-height: 50px;
               position: relative;
               padding: 0 20px;
               &:hover{
                background-color: #F2F3F5;
                }                
               &::after {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                height: 0.5px;
                width: 100%;
                background-color: #F1F1F1;
            }
            .menu_img{
             margin-right: 10px;
             position: relative;
             top: 8px;
             max-height: 30px;
             max-width: 30px;
            }
                }
            }
        }
    }
    .header_search{
        height: 100%;
       display: flex;
       align-items: center;
       
        .search_input{
        min-width: 671px;
        background-color: black;
        padding: 16px;
        border: 0;
        border-radius: 0;
        color: #ffffff;
        font-size: 13px;
        line-height: 18px;
        &:focus {
            border: none;
            outline: none; 
            background-color:#25252E;
          }
          &::placeholder {
         color: white; 
          }
          
        }
        .search_button{
            padding: 0 20px;
        }
    }
  .header_icons{
    height: 100%;
    display: flex;
    align-items: center;
    .icons_favorite{
        height: 100%;
        padding: 0 20px;
        position: relative;
        &:hover{
            background-color:#25252E;   
        }
       &::after{
        content: "";
        display: block;
        width: 0.5px;
        height: 25px;
        position: absolute;
        top: 11px;
        right: -1px;
        background-color: #F1F1F1;
       }
       &::before{
        content: "";
        display: block;
        width: 18px;
        height:16px;
        border-radius: 10px;
        position: absolute;
        top: 5px;
        right: 11px;
        background-color: #eb5757;
       }
    }
    .basket_counter{
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;    
        right: 8px;
         &:hover{
            background-color:#25252E;   
        } 
    }
    .icons_basket{
        padding-left: 23px;
        padding-right: 7px;
       
    }
  } 

}
.header_menu:hover .menu_burger .burger_middle,
.header_menu:hover .menu_burger .burger_bottom {
    width: 17px; 
}
.container_favorite_counter{
position: relative;
    top: -13px;
    right: 25px;
    font-size: 11px;
    width: 10px;
    height: 20px;
      .favorite_counter{
      position: absolute;
      top: 4px;
}
}


.header_menu:hover .menu_DropDaun{
    visibility: visible;
    opacity: 1;
}

.search_input:focus + .search_button{
    height: 100%;
    background-color:#25252E; 
}
